@* @{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/arch.css" rel="stylesheet" />

<div class="container shadow p-5 col-lg-6">
    <section role="main" class="content-body">
        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header d-flex align-items-center justify-content-between">
                        <h2 class="card-title">Assign FeeHead</h2>

                    </header>
                    <br />
                    <div class="fs-title">Fee Heads</div>

                    <form id="afhform" method="post">
                        <!-- Step 1 Form Starts -->
                                    <!-- New Line Div -->
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-12 mt-3">
                                            <label class="mb-2">Select the FeeHead Name</label>
                                            <div class="input-group">
                                                <select class="form-select" aria-label="Class">
                                                    <option selected>-Select-</option>
                                                    <option value="1">FeeHeadName-I</option>
                                                    <option value="2">FeeHeadName-II</option>
                                                    <option value="2">FeeHeadName-III</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <br />
                                        <div>
                                            <button type="submit" class="login">Save</button>
                                            <button type="submit" class="login">Update</button>
                                            <button type="submit" class="login">Delete</button>
                                        </div>
                                    </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 mt-3">
                            <table class="table table-bordered">

                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>Addmission Fee</td>
                                    </tr>
                                    <tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
</div>
 *@