@{
    ViewData["Title"] = "Home Page";
}


<div>
    <section role="main" class="content-body">
        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header d-flex align-items-center justify-content-between">
                        <h2 class="card-title">Transfer Certificate (TC)</h2>
                        <div class="d-flex align-items-center">
                            &nbsp; &nbsp;
                            <a class="btn btn-default" href="#"><i class="fa fa-print"></i></a>
                        </div>
                    </header>

                    <form id="msform">
 
                        <!-- Step 1 Form Starts -->
                        <fieldset>
                            <div class="form-card">                              
                                <!-- Step 1 Form Starts -->
                                <div class="Form_inut_here">
                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">School No.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="School No.">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Book No.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Book No.">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">S.R. No.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="S.R. No.">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Admission No.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Admission No.">
                                            </div>
                                        </div>                                      
                                    </div>

                                    <!-- New Line Div -->

                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Affiliation No.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Affiliation No.">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Renewed upto</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" required="" placeholder="Renewed upto">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Status of School</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Status of School">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Date Of Birth</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" required="" placeholder="Date Of Birth">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- New Line Div -->

                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Name of the pupil</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Name of the pupil">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Mother's Name</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Mother's Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Father's Name</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Father's Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Nationality</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Nationality">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- New Line Div -->

                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Whether the pupil belongs to SC/ST/OBC</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Yes/No">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Date Of Birth</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" required="" placeholder="Date Of Birth">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Whether the Student is failed</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Pass/Fail">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Subjects Offered</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Name of the Subjects">
                                            </div>
                                        </div>
                                    </div> 
 
                                   <!-- New Line Div-->

                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Class last studied</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Class">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">School/Board Annual examination last taken with result</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Pass/Fail">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Whether promoted to the next higher class</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Yes/No">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Whether paid all dues to the school</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Yes/No">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- New Line Div-->

                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Nature of fee concession (If applicable)</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Nature of fee concession">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Whether an NCC cadet/Boy Scout/Girl (Give details)</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="NCC or Scout details">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Date on which pupil's name was struck off the rolls</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" required="" placeholder="Date">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Reason for leaving</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Reason for leaving">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- New Line Div-->

                                    <div class="row">
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Number of meeting up to date</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Number of meetings">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Number of school days attended</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Number of school days attended">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">General Conduct</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Good/Average/Poor">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Any other remarks</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Yes/No">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Date of issue of certificate</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" required="" placeholder="Yes/No">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">TC issue by</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xl-3 mt-3">
                                            <label class="mb-2">Section</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" required="" placeholder="Section">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-xl-3 mt-3">
                                        <label class="mb-2">Prepared by (Name and Designation)</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" required="" placeholder="Name & Designation">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xl-3 mt-3">
                                        <label class="mb-2">Checked by</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" required="" placeholder="Name & Designation">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-xl-3 mt-3">
                                        <label class="mb-2">Sign of Principal with official seal</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" required="" placeholder="Principal's sign">
                                        </div>
                                    </div>                                  
                                </div>
                            </div>


                               
                            <input type="button" name="save" class="save action-button"
                                   value="Save & Print" />
                        </fieldset>             
                    </form>
                </div>
            </div>
        </div>
        <!-- end: page -->
    </section>
</div>
