@{
    ViewData["Title"] = "Home Page";
}
@model ARH.Models.ForgotPassword
<style>
    .body-sign {
        height: 97vh;
        padding: 0 15px;
        width: 100%;
        position: relative;
    }

    html, body {
        background: #0065bd !important;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
    }

    .form-group + .form-group {
        border-top: none;
        padding-top: 0;
    }
</style>

<!-- start: page -->
<section class="body-sign" id="particles-js">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="center-sign centered" style="padding: 25px 20px 0 20px;background: #fff; border-radius: 10px;">
                    <div class="panel card-sign">
                        <div class="card-title-sign">
                            <h2 class="title font-weight-bold mt-0 mt-3">
                                Forgot Password
                            </h2>
                        </div>
                        <div class="card-body" style="background:transparent;">
                            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                                <div class="form-group mt-3">
                                    <label class="mb-1">E-mail Address</label>
                                    <div class="input-group mt-3">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <input type="email" class="form-control" asp-for="Email" required placeholder="Email Address">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-end">
                                        <button type="submit" class="btn btn-primary mt-2 mt-3" @* asp-controller="Auth" asp-action="ForgotPassword" *@>Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="text-center text-muted mt-3 mt-3">Already have an account <a href="~/Auth/Login" class="text-primary">Log In</a>.</p>
                </div>
            </div>

            <div class="col-lg-3"></div>
        </div>
    </div>
</section>