@model ARH.Models.ResetPasswordConfirmation


<div class="container shadow p-5 col-sm-6">
    <div class="row  pb-2">
        <strong>Your password reset is successful</strong>
    </div>
    <br />
    <br />
    <p>
        Your password reset is successful.
    </p>
    <br />
    <br />
    <form method="post" class="form-floating">
        <form method="post" class="form-floating">
            <div>
                <a href="/Auth/login">Go to login</a>
            </div>
        </form>
    </form>
</div>